h1{
	text-align: center;
	color: white;
}
#remind{
	text-decoration-color: black;
	background-color: red;
	width: 400px;
	height: 500px;
	font-size: 50px;
	position: left;
	font-style: bold;
	float: left;
}
#chat{
	text-decoration-color: black;
	background-color: blue;
	width: 400px;
	height: 500px;
	font-size: 100px;
	float: right;

}
body{
	background-color: black;
}
/*div{ 
	position: fixed;
	color: yellow;
	border-style: solid;
}*/
